<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/sign">
        <label>Name</label>
        <input type="text" name="name"></input>
        <label>Email</label>
        <input type="text" name="email"></input>
        <label>Password</label>
        <input type="password" name="password"></input>
        <button>Signup</button>
        <div>Existing user?? Login</div>
    </form>
    
</body>
</html>